.elementor-63 .elementor-element.elementor-element-f3512e3>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
}

.elementor-63 .elementor-element.elementor-element-e892a28.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-63 .elementor-element.elementor-element-e892a28.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-63 .elementor-element.elementor-element-e892a28.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-63 .elementor-element.elementor-element-e892a28 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-63 .elementor-element.elementor-element-254e264>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
}

.elementor-63 .elementor-element.elementor-element-15f90fc.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-63 .elementor-element.elementor-element-15f90fc.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-63 .elementor-element.elementor-element-15f90fc.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-63 .elementor-element.elementor-element-15f90fc .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-63 .elementor-element.elementor-element-0777d1a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
}

.elementor-63 .elementor-element.elementor-element-72cbedb.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-63 .elementor-element.elementor-element-72cbedb.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-63 .elementor-element.elementor-element-72cbedb.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-63 .elementor-element.elementor-element-72cbedb .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-63 .elementor-element.elementor-element-62c2488>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
}

.elementor-63 .elementor-element.elementor-element-2d53570.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-63 .elementor-element.elementor-element-2d53570.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-63 .elementor-element.elementor-element-2d53570.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-63 .elementor-element.elementor-element-2d53570 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-63 .elementor-element.elementor-element-61d4060>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
}

.elementor-63 .elementor-element.elementor-element-372b6fc.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-63 .elementor-element.elementor-element-372b6fc.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-63 .elementor-element.elementor-element-372b6fc.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-63 .elementor-element.elementor-element-372b6fc .elementor-icon i {
    transform: rotate(0deg);
}

@media(max-width:767px) {
    .elementor-63 .elementor-element.elementor-element-e892a28 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-63 .elementor-element.elementor-element-15f90fc .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-63 .elementor-element.elementor-element-72cbedb .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-63 .elementor-element.elementor-element-2d53570 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-63 .elementor-element.elementor-element-372b6fc .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
}